# Credentials and Certificates
.env
.gitignore
certs/
*.crt
*.key
*.pem

# Binary files
k8s-cli
*.exe

# IDE files
.idea/
.vscode/
*.swp

# Go specific
*.test
*.out
go.work

# OS specific
.DS_Store
Thumbs.db